site_name: Simulación de Tráfico IDM
theme:
  name: readthedocs

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: true
            show_root_toc_entry: false
            line_length: 100

nav:
  - Inicio: index.md
  - API:
      - Simulación: api/simulacion.md

